@import "variables";

.changelog-controls {
  position: sticky;
  top: 10px;
  z-index: 100;
}

.changelog-filter {
  position: sticky;
  top: 10px;
  z-index: 100;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (max-width: $mobile) {
  .changelog-controls,
  .changelog-filter {
    top: 5px;
  }
}

.changelog-filter {
  position: sticky;
  top: 10px;
  z-index: 100;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (max-width: $mobile) {
  .changelog-controls,
  .changelog-filter {
    top: 5px;
  }
}